<p>
  <strong>Listar pedidos: <%= link_to 'Todos', :action => 'index', :id => '' %>,
  <%= link_to 'Abiertos', :action => 'index', :id => 'open' %>,
  <%= link_to 'Procesados', :action => 'index', :id => 'processed' %>,
  <%= link_to 'Cerrados', :action => 'index', :id => 'closed' %>,
  <%= link_to 'Fallidos', :action => 'index', :id => 'failed' %></strong>
</p>
