<% if @orders == [] %>
  <h2><%= "No hay pedidos con estado: '#{@status}'." %></h2>
<% else %>
  <table>
    <tr>
      <th>ID</th>
      <th>Estado</th>
      <th>Precio total</th>
      <th>Cantidad</th> <!-- amount -->
      <th>Creado el</th>
      <th>Actualizado el</th>
      <th></th>
    </tr>
  <% for order in @orders %>
    <tr>
      <td align="center"><%= order.id %></td>
      <td align="center"><%= order.status[0].capitalize + order.status[1..order.status.length-1] %></td>
      <td align="center"><%= order.total %></td>
      <td align="center"><%= order.amount %></td> <!-- amount -->
      <td align="center"><%= order.created_at.strftime("%d-%m-%Y %I:%M") %></td>
      <td align="center"><%= order.updated_at.strftime("%d-%m-%Y %I:%M") %></td>
      <td><%= link_to 'Mostrar', :action => 'show', :id => order %></td>
      <td>
        <%= button_to 'Borrar', { :action => 'destroy', :id => order },
                      data: { confirm: "¿Realmente quiere borrar la orden ##{order.id}?" } %>
      </td>
    </tr>
  <% end %>
  </table>

  <% if @orders.total_pages > 1 %>
    <br/>
    <%= 'Ver página:' %>
  <% end %>

  <%= will_paginate @orders, :page_links => true, :link_separator => ' ', :container => false,
                             :previous_label => '', :next_label => '' %>
  <p></p>
<% end %>

<%= render :partial => 'navigation' %>
