<%= render :partial => 'articles' %>
<%= will_paginate @articles, :page_links => false, :link_separator => ' | ',
                          :previous_label => 'Anterior', :next_label => 'Siguiente' %>

<p><%= link_to 'Últimos articulos', :action => 'latest' %> | <%= link_to 'RSS', :action => 'rss' %> | <%= link_to 'Buscar', :action => 'search' %></p>
<p></p>
<p></p>
