<h2>Distribuido por: <%=@article.supplier_names %></h2>
<% if @article.cover_image.exists? then %>
  <dd><%= image_tag @article.cover_image.url %></dd>
<% else %>
  <p>No hay imagen disponible.</p>
<% end %>
<dl>
  <dt>Precio</dt>
  <dd><%= sprintf("%0.2f", @article.price) %></dd>
  <dt>Talla</dt>
  <dd><%= @article.size %></dd>
  <dt>Fabricante</dt>
  <dd><%= @article.manufacturer.name %></dd>
  <dt>Descripción</dt>
  <%= RedCloth.new(@article.blurb).to_html.html_safe if @article.blurb %>
</dl>

<p><%= link_to 'Catálogo', :action => 'index' %> </p>
